<footer>
    <div class="line"></div>
    <div class="footer--header">
        <div>
            <span id="donate"><a href="/donate">Please consider donating</a></span>.
        </div>
        <div>
            <a href="OpenSourceLowTech.org@gmail.com">OpenSourceLowTech.org@gmail.com</a>
        </div>
        <div>
            <a href="https://www.facebook.com/opensourcelowtech.org/">Facebook</a> | 
            <a href="https://www.youtube.com/channel/UCyjzaMkXTTp9P20UZbxDH6w">YouTube</a>
        </div>
    </div>
</footer>
<div id="footer--spacer"></div>